# Ignora todos os arquivos de ambiente
.env
.env.*
!.env.example        # (opcional: mantém um exemplo sem dados reais)

# Ignora chaves JWT privadas
config/jwt/*.pem

# Ignora dependências, builds e cache
var/
vendor/

# Ignora arquivos de IDE e sistema
.vscode/
.idea/
*.swp
*.log
.DS_Store
