# Ignorar arquivos de ambiente específicos que geralmente contêm segredos
.env.local
.env.prod
.env.test

# Manter o arquivo de exemplo (template)
!.env.example

# Ignorar chaves privadas e sensíveis
config/jwt/*.pem

# Ignorar diretórios de dependências e cache
/vendor/
/node_modules/
/var/
/public/build/

# Ignorar arquivos de configuração do editor e sistema
.vscode/
.idea/
*.log
*.swp
.DS_Store

# Logs de ferramentas
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Cache Symfony, se existir fora de /var
/cache/
